body {
    background-color:darkcyan;
    color:orange
}
h1{font-family: 'Oswald', sans-serif;
font-size: 54px;
font: 30px;
text-align: center;
color:lightblue
}
h2{ border: solid thin black;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align:center;
    background-color:darkslategray;
    max-width: 850px;
    padding: 9px;
    margin-left: 250px;
    margin-right: 250px;
}
.pi{ border: solid thin black;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color:darkslategray;
    color: orange;
    max-width: 800px;
    padding: 7px;
    margin-left: 250px;
    margin-right: 250px;
}
.container{ border: solid thin black;
    font-family:'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    color: orange;
    font: 10px;
    background-color: darkslategray;
    margin-block-start: 100px;
    max-width: 900px;
    padding: auto;
    margin-left: 250px;
    margin-right: 250px;
}
.ca{ font-family: 'Oswald', sans-serif; 
    font: 60px;
    font-size: 20px;
}
.bp{ font-family: 'Oswald', sans-serif;
    font: 60px;
    font-size: 20px;
}
.ej{ font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font: 40px
}
.row { 
    font-family: 'Oswald', sans-serif;
    margin: 10px;;
    font-size: 18px;
  }
  
.acerca { 
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    text-align: center;
  }
@media (max-width: 600px) {
    .h1 {
        flex: 100%;
      }
    .h2 {
        flex: 100%;
      }
    .column {
      flex: 100%;
    }
  }
  .container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: rgb(4, 83, 83);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  } 
  .brand {
    display: flex;
    align-items: center;
  }
  li>a {
    padding: 8px 24px;
  }
  li {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration:none;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .button-menu-toggle {
    display: none;
  }
  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }
.infoconta {
  border: solid thin black;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: start;
  background-color:darkslategray;
  max-width: 250px;
  padding: 9px;
}
.infoconta2 {
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  text-align: start;
}
.ulservis {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  margin-left: 400px;
}
.flex-container {
  display: flex;
}
.flex-item {
  margin-left: 150px;
}
.container2 {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  text-align: start;
}
footer { 
  background-color:darkslategrey;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  border: solid thin black;
  margin: 30px;
  padding: 20px;
}
.sesion{
  font-size: 200px;
}
